
<div class="wrapper row0" id="">
  <div id="topbar" class="clear"> 
    <!-- ################################################################################################ -->
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Contact Us</a></li>
        {{#if status}}
          <li><a href="/admin/logout">Logout</a></li>
        {{else}}
        <li><a href="/admin">Staff Login</a></li>
        {{/if}}
      </ul>
    </nav>
    <!-- ################################################################################################ --> 
  </div>
</div>